MONGO_URI=mongodb+srv://peralamanaswi74_db_user:manaswi%402005@genai.bgflxir.mongodb.net/
GEMINI_API_KEY=AIzaSyCsu7QzAPw3dbUgjBM9jM_P-8PUHEwTdPU
GOOGLE_APPLICATION_CREDENTIALS=./vision-key.json
PORT=5000
CLIENT_URL=http://localhost:5173
